/* với ID thì ta sử dụng "#" */
#first{
    color:beige;font-size: 40px;
}

#second{
    color: coral;font-size: 22px;
}

/* với Class thì ta sử dụng "." */
.four{
    color: darkseagreen;
    font-size: 33px
}